body {
    font-family: 'Rubik', sans-serif;
}

.container-contacto {
    display: flex;
    height: 100vh;
    margin-top: 50px;
    margin-right: auto;
}

.left {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;
    transition: 1s;
     background-image: url("../../../public/images/Farmacia.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header>h2 {
    margin: 0;
    color: lightseagreen;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid #CFEFED;
    align-items: center;
    border-radius: 18px;
   
    
}

 .form>p {
    text-align: right;
    ;
} 

 .form>p>a {
    color: #000;
    font-size: 14px;
    
    
} 

.form-gral {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 30px;
  
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 10px;
}

.form-area {
    height: 150px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 25px;
    
}

.form-field:focus {
    
     border-color: black; 
}

.button-form {
    padding: 12px 10px;
    border: 0;
    width: 60%;
    background: linear-gradient(to right, lightsteelblue, lightseagreen 100%);
    border-radius: 3px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 80px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    margin-left: 25%;
}

 textarea {
    align-items: center;
     margin-top: 10px; 
    border: 2px solid #ddd;
    width: 66%;
   
    resize: none;
}

.form textarea{
    height: 60%;
}

.animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
}

.a1 {
    animation-delay: 2s;
}

.a2 {
    animation-delay: 2.1s;
}

.a3 {
    animation-delay: 2.2s;
}

.a4 {
    animation-delay: 2.3s;
}

.a5 {
    animation-delay: 2.4s;
}

.a6 {
    animation-delay: 2.5s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}

 h3{
    color: green;
    margin-top: 50px;
}

h4{
    color: green;
    margin-top: 20px;
}


