 .color_redes {
   background-color: #CFEFED;
   position:relative;
   margin-top: 110px;
   padding:5px;
   height: 100%
}

 .container_footer a:hover{
    
            transform: scale(1.2);
            transition: all 0.5s;
        }
  
.mail {
    float: left;
    margin-right: 2rem;
    margin-top: 1rem;
}
    .mail a:hover {
          
            filter: drop-shadow(2px 2px 2px blue);
        }

.instagram {
    display: inline-block;
    justify-content: space-around;
    margin-top: 1rem;
}
 .instagram a:hover {
         
            filter: drop-shadow(2px 2px 2px blue);
}

.whatsapp {
    float: right;
    margin-left: 2rem;
    margin-top: 1rem;
}
   .whatsapp a:hover {
         
            filter: drop-shadow(2px 2px 2px blue);
        }

 .copyright {
    text-align: center;
    font-size: 15px;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
 }
    .copyright a {
        text-decoration: none;
        color: black;
    }
